.Cockpit {
    text-align: center;
  }
  
  .red{
  
    color:rgb(48, 138, 111);
  
  }
  .bold{
  
    font-weight: bold;
    background-color: rgb(232, 241, 181);
  }

  .Cockpit button {

    background-color: orange;
    color: white;
    font: inherit;
    border: 1px solid blue;
    padding: 8px;
    cursor: pointer;

  }


  .Cockpit button.Red {

    background-color: red;
   
  }

  
  .Cockpit button.Red:hover {

    background-color: salmon;
    color:black;
   
  }


  .Cockpit button:hover {

    background-color: lightgreen;
    color: black;
  }

